<!DOCTYPE html>
<html>
  <head>
    <title>DoutoreSchool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if user_signed_in? && current_user.is_coach? && !controller_path.start_with?('back_office') %>
      <div class="flex">
        <%= link_to 'Coach access', back_office_forms_path, class: "bg-red-300 text-red-700 hover:bg-red-700 hover:text-white text-center text-sm font-medium w-full py-3", method: :delete %>
      </div>
    <% end %>
    <%= render 'shared/navbar' %>
    <div class="px-5">
      <% if notice %>
        <div class="w-100 bg-blue-300 text-blue-500 p-3 m-3 rounded">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="w-100 bg-red-300 text-red-500 p-3 m-3 rounded">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
    </div>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
